<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Amazin Main</title>
    </head>
    <body>
        <p>Owner Login Successful, Welcome to Book Store</p>
        <form th:action="@{/createBook}" method="get">
            <input type="submit" value="Add New Book"/>
        </form>
        &nbsp;
        <fieldset>
            <div>
                <table>
                    <tr>
                        <th>Book Name</th>
                        <th>Description</th>
                        <th>ISBN</th>
                        <th>Author</th>
                        <th>Publisher</th>
                        <th>Inventory</th>
                        <th>Price $</th>
                        <th>Edit Book</th>
                    </tr>
                    <tr th:each="item : ${library}" >
                        <form th:action="@{/editBook}"  method="get">
                            <td th:text="${item.name}"></td>
                            <td th:text="${item.description}"></td>
                            <td th:text="${item.ISBN}"></td>
                            <td th:text="${item.author}"></td>
                            <td th:text="${item.publisher}"></td>
                            <td th:text="${item.inventory}"></td>
                            <td th:text="${item.price}"></td>
                            <td> <button type="submit" th:name="bookId" th:value="${item.ISBN}">Edit</button></td>
                        </form>
                    </tr>
                </table>
            </div>
        </fieldset>
    </body>
</html>