<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Amazin Main</title>
</head>
<body>
<p>User Login Successful, Welcome to Book Store</p>
<fieldset>
    <div>
        <table>
            <tr>
                <th>Book Name</th>
                <th>Description</th>
                <th>ISBN</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Inventory</th>
                <th>Price $</th>
                <th>Add to cart</th>
            </tr>
            <tr th:each="item : ${library}">
                <td th:text="${item.name}"></td>
                <td th:text="${item.description}"></td>
                <td th:text="${item.ISBN}"></td>
                <td th:text="${item.author}"></td>
                <td th:text="${item.publisher}"></td>
                <td th:text="${item.inventory}"></td>
                <td th:text="${item.price}"></td>
                <td> <button type="submit" formaction="/addToCart">Add</button></td>
            </tr>
        </table>
    </div>
</fieldset>
</body>
</html>
