<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Amazin Main</title>
</head>
<body>
<p>User Login Successful, Welcome to Book Store</p>
<fieldset>
    <p>------Library------</p>
    <div>
        <table>
            <tr>
                <th>Book Name</th>
                <th>Picture</th>
                <th>Description</th>
                <th>ISBN</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Inventory</th>
                <th>Price $</th>
                <th>Add to cart</th>
            </tr>
            <tr th:each="item : ${library}">
                <td th:text="${item.name}"></td>
                <td th:text="${item.picture}"></td>
                <td th:text="${item.description}"></td>
                <td th:text="${item.ISBN}"></td>
                <td th:text="${item.author}"></td>
                <td th:text="${item.publisher}"></td>
                <td th:text="${item.inventory}"></td>
                <td th:text="${item.price}"></td>
                <td>
                    <form action="#" th:action="@{/addToCart}" method="get">
                        <input type="hidden" th:value="${item.ISBN}" th:name="bookID">
                        <input type="hidden" th:value="${userID}" th:name="userID">

                        <input type="submit" value="Add"/>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</fieldset>

<fieldset>
    <p>------Cart------</p>
    <div>
        <table>
            <tr>
                <th>Book Name</th>
                <th>Picture</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            <tr th:each="book : ${Cart}">
                <td th:text="${book.name}"></td>
                <td th:text="${book.picture}"></td>
                <td th:text="${book.price}"></td>
                <td>
                    <input type="number"  th:value="1"/>
                </td>
            </tr>

        </table>
        <form action="#" th:action="@{/purchaseCart}" method="get">
            <input type="hidden" th:value="${userID}" th:name="userID">
            <input type="submit" value="Add"/>
        </form>

    </div>
</fieldset>
</body>
</html>
